* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #f4f4f4 !important;
}
.navbar {
  background-color: #fff !important;
}
.margin {
  margin-right: 100px !important;
}
.offcanvas,
.accordion-button {
  background-color: #0c155a !important;
  color: #cececef2 !important;
}
.accordion-item,
.accordion-button,
.accordion-body,
.accordion-header {
  border: none !important;
  outline: none !important;
}
.accordion-body {
  background-color: #090e37 !important;
  color: #cececef2 !important;
}
.tab-btn {
  background-color: #e9e9e9 !important;
}
.tab-content {
  background-color: #fff !important;
}
